{block #title}{_'onboarding.admin.onboarding_goals.new.title'}{/block}

{block #content}

<div class="row">
  <div class="col-md-12">
    <a n:href="Default"><i class="fa fa-angle-left"></i> {_'onboarding.admin.onboarding_goals.new.back'}</a>
    <div class="page-header">
      <h1>
        {_'onboarding.admin.onboarding_goals.new.title'}
      </h1>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-8">
    {control onboardingGoalForm}
  </div>
</div>