services:
	moduleManager:
		setup:
			- addModule(Crm\OnboardingModule\OnboardingModule())

	onboardingGoalsRepository: Crm\OnboardingModule\Repository\OnboardingGoalsRepository
	userOnboardingGoalsRepository: Crm\OnboardingModule\Repository\UserOnboardingGoalsRepository

	- Crm\OnboardingModule\Api\OnboardingGoalCompletedHandler
	- Crm\OnboardingModule\Api\OnboardingGoalsListHandler
	- Crm\OnboardingModule\Components\OnboardingProgress
	- Crm\OnboardingModule\Events\OnboardingGoalCreatedEventHandler
	- Crm\OnboardingModule\Events\OnboardingGoalUpdatedEventHandler
	- Crm\OnboardingModule\Forms\OnboardingGoalFormFactory
	- Crm\OnboardingModule\Scenarios\OnboardingGoalCompletedCriteria
	- Crm\OnboardingModule\Seeders\SegmentsSeeder
