services:
	moduleManager:
		setup:
			- addModule(Crm\OnboardingModule\OnboardingModule())

	- Crm\OnboardingModule\Repository\OnboardingGoalsRepository
	- Crm\OnboardingModule\Forms\OnboardingGoalFormFactory
