services:
	moduleManager:
		setup:
			- addModule(Crm\OnboardingModule\OnboardingModule())

	- Crm\OnboardingModule\Api\OnboardingGoalCompletedHandler
	- Crm\OnboardingModule\Api\OnboardingGoalsListHandler
	- Crm\OnboardingModule\Forms\OnboardingGoalFormFactory
	- Crm\OnboardingModule\Repository\OnboardingGoalsRepository
	- Crm\OnboardingModule\Repository\UserOnboardingGoalsRepository
