menu:
	onboarding_goals: Onboarding goals
component:
	onboarding_progress:
		header: Onboarding goals
		completed_at: Completed at
		yes: "Yes"
		no_goals: No goals
		no_goals_desc: No goals are defined
admin:
	onboarding_goals:
		default:
			title: Onboarding goal
			new: New goal
			hours: hours
			days: days
			completion_count_for_last: "Completion count<br />for last"
		new:
			title: New goal
			back: Späť
		edit:
			title: Edit goal
			back: Back
		show:
			edit: Edit
			back: Back
			completion_graph_title: Goal completition count
			completion_graph_help: Count of how many subscribers have completed particular goal within selected time interval
		messages:
			goal_created: Goal created
			goal_updated: Goal updated
			goal_not_found: Goal was not found
data:
	goals:
		fields:
			name: Name
			code: Code
			type: Type
			created_at: Created at