menu:
	onboarding_goals: Onboarding ciele
component:
	onboarding_progress:
		header: Onboarding ciele
		completed_at: Splnený v čase
		yes: Áno
		no_goals: Žiadne ciele
		no_goals_desc: Žiadne ciele nie sú definované
admin:
	onboarding_goals:
		default:
			title: Onboarding ciele
			new: Nový cieľ
			hours: hodín
			days: dní
			completion_count_for_last: "Počet dokončení<br />za posledných"
		new:
			title: Nový cieľ
			back: Späť
		edit:
			title: Úprava cieľa
			back: Späť
		show:
			edit: Upraviť
			back: Späť
		messages:
			goal_created: Cieľ vytvorený
			goal_updated: Cieľ aktualizovaný
			goal_not_found: Cieľ sa nenašiel
data:
	goals:
		fields:
			name: Názov
			code: Kód
			type: Typ
			created_at: Vytvorený