menu:
	onboarding_goals: Onboarding cíle
component:
	onboarding_progress:
		header: Onboarding cíle
		completed_at: Splněn v čase
		yes: Ano
		no_goals: Žádné cíle
		no_goals_desc: Žádné cíle nejsou definovány
admin:
	onboarding_goals:
		default:
			title: Onboarding cíle
			new: Nový cíl
			hours: hodin
			days: dní
			completion_count_for_last: "Počet dokončení<br /> za posledních"
		new:
			title: Nový cíl
			back: Zpět
		edit:
			title: Úprava cíle
			back: Zpět
		show:
			edit: Upravit
			back: Zpět
			completion_graph_title: Počet dokončení cíle
			completion_graph_help: Počet dokončení cíle za definované časové období
			flow_graph:
				title_registration: Počet dní do splnění cíle od registrace
				help_registration: "Graf ukazuje, jak dlouho trvalo uživatelům dokončení cíle od registrace a zda byl uživatel předplatitel v době splnění cíle."
				title_first_payment: Počet dní do první platby od splnění cíle
				help_first_payment: "Graf ukazuje, jak dlouho trvalo uživatelům zakoupení předplatného (pro ty který ho ještě nevlastnili) od splnění cíle."
				from: od
				to: do
				users_count: Počet uživatelů
				never_paid: Nikdy nezakoupené předplatné
				first_payment_in_days: "První platba %s den po splnění"
				goal_completed_since: "Cíl splněn %s deň od registrace"
				was_subscriber: Byl předplatitel
				was_non_subscriber: Nebyl předplatitel
		messages:
			goal_created: Cíl vytvořen
			goal_updated: Cíl aktualizován
			goal_not_found: Cíl nenalezen
data:
	goals:
		fields:
			name: Názov
			code: Kód
			type: Typ
			created_at: Vytvořený

scenarios:
	criteria:
		completed_goal:
			label: Dokončil onboarding gól
