menu:
	onboarding_goals: Onboarding ciele
component:
	onboarding_progress:
		header: Onboarding ciele
		completed_at: Splnený v čase
		"yes": Áno
		no_goals: Žiadne ciele
		no_goals_desc: Žiadne ciele nie sú definované
admin:
	onboarding_goals:
		default:
			title: Onboarding ciele
			new: Nový cieľ
			hours: hodín
			days: dní
			completion_count_for_last: "Počet dokončení<br />za posledných"
		new:
			title: Nový cieľ
			back: Späť
		edit:
			title: Úprava cieľa
			back: Späť
		show:
			edit: Upraviť
			back: Späť
			completion_graph_title: Počet dokončení cieľa
			completion_graph_help: Počet dokončení cieľa za definované časové obdobie
			flow_graph:
				title_registration: Počet dní do splnenia cieľa od registrácie
				help_registration: "Graf ukazuje, ako dlho trvalo užívateľom dokončenie cieľa od registrácie a či bol užívateľ predplatiteľ v čase splnenia cieľa."
				title_first_payment: Počet dní do prvej platby od splnenia cieľa
				help_first_payment: "Graf ukazuje, ako dlho trvalo užívateľom zakúpenia predplatného (pre tých ktorý ho ešte nevlastnili) od splnenia cieľa."
				from: od
				to: do
				users_count: Počet užívateľov
				never_paid: Nikdy nezakúpené predplatné
				first_payment_in_days: "Prvá platba %count% deň po splnení"
				goal_completed_since: "Cieľ splnený %count% deň od registrácie"
				was_subscriber: Bol predplatiteľ
				was_non_subscriber: Nebol predplatiteľ
		messages:
			goal_created: Cieľ vytvorený
			goal_updated: Cieľ aktualizovaný
			goal_not_found: Cieľ sa nenašiel
data:
	goals:
		fields:
			name: Názov
			code: Kód
			type: Typ
			created_at: Vytvorený

scenarios:
	criteria:
		completed_goal:
			label: Dokončil onboarding gól
			goal_param:
				label: Gól
			timeframe_param:
				label: Za obdobie
				amount_label: Počet
				units_label: Časová jednotka
